@font-face {
  font-family: 'yofont';
  src: url('/static/iconfont/iconfont-heart.woff') format('woff'),
  url('/static/iconfont/iconfont-heart.ttf') format('truetype')

}
@font-face {
  font-family: 'yofont';
  src:url('/static/iconfont/iconfont-lis.woff') format('woff'),
  url('/static/iconfont/iconfont-lis.ttf') format('truetype')
}
