
body {
  overflow-y: scroll;
}
header {
  height: .44rem;
}
section {
  // @include flex();
  height: 100%;
  background: #fff;
  overflow-x: scroll;
  .list {
    overflow-x: scroll;
      margin: 0 .2rem;
      .index-list {
        width: 3.5rem;
        padding-top: .3rem;
        line-height: 1;
      }
      h3 {
        font-size: .21rem;
        font-weight: bolder;
        color: #2c3038;
      }
      .date {
        font-size: .12rem;
        color: #ff3939;
        margin-top: 10px;
      }
      .index-list {
        overflow-x: scroll;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        .sku-item {
          padding: .2rem 0;
          border-bottom: 1px solid #e0e0e0;
          position: relative;

            img {
              display: block;
              width: 100%;
              height: 2.23rem;
            }

          .title {
            margin-top: .15rem;
            font-size: .16rem;
            color: #2c3038;
          }
          .desc {
            margin-top: .08px;
            font-size: .11rem;
            color: #92969c;
          }

        }
      }
  }
}

nav {
  height: .44rem;
  width: 100%;
}
