body{
  background-color: #fff;
  .m-login{
    height:100%;
    padding: 0 .3rem;
    display:block;
    .logo{
      width:100%;
      height:.48rem;
      text-align: center;
      margin: .5rem 0;
      a{
        display: inline-block;
        img{
          width:1.5rem;
          height:.45rem;
          text-align: center;
        }
      }
    }
    .phone{
      margin-bottom: .25rem;
      input{
        font-size: .16rem;
        border:.01rem solid #bdc0c5;
        color:#2c3038;
        padding: .115rem .1rem;
        width:100%;
        height:.435rem;
        border-radius: .04rem;
      }
    }
    .totp{
      margin-bottom: .25rem;
      position: relative;
      font-size: 80%;
      input{
        border:.01rem solid #bdc0c5;
        color:#2c3038;
        padding: .115rem .1rem;
        width:92%-38.5%;
        height:.435rem;
        border-radius: .04rem;
      }
      span{
        display:none;
        position: absolute;
        width:.16rem;
        top:.14rem;
        left:1.63rem;
        height:.16rem;
        text-align: center;
        font-size: .11rem;
        line-height: .17rem;
        border-radius: .08rem;
        color:#fff;
        background: red;
      }
      a{
        color:#dbc0c5;
        border:.01rem solid #e0e0e0;
        margin-left: .15rem;
        display: inline-block;
        width: 38.5%;
        text-align: center;
        padding: .11rem .15rem;
        vertical-align: .01rem;
      }
    }
    .go{
      display: block;
      width:100%;
      padding: .115rem 0;
      background-color: #1a1a1a;
      font-size: .145rem;
      color:#e5e5e5;
      text-align: center;
      margin-bottom: .05rem;
    }
    .tips{
      margin-top:.95rem;
      width:100%;
      font-size: .12rem;
      text-align: center;
      color:#92969c;
      margin-bottom: .275rem;
      p{
        margin-top: .08rem;
        display: block;
      }
     a{
       text-decoration:underline;
       color:#2c3038;
     }
    }
  }
}
